.fadeInUp{
  -webkit-animation-delay: .7s;
}

.fadeInRight{
  -webkit-animation-delay: .7s;
}

.x{
  -webkit-animation-delay: .7s;
}

.zoomIn{
  -webkit-animation-delay: .1s;
  -webkit-animation-duration: 1s;
  animation-duration: .7s!important;
}

.fadeIn{
  -webkit-animation-delay: .1s;
  -webkit-animation-duration: 1s;
  animation-duration: .7s!important;
}
