@function em($px){
  @return ($px / 16px) * 1em;
}

$negro: #000000;
$blanco: #ffffff;
$rojo: #d00707;

.nav-item img { max-height: 2.75rem; }
.nav-item a, a.nav-item { color: $blanco; }

@import "animaciones";
@import "utilidades";
@import "banner";
@import "margenes";
@import "device";
@import "snackbar";

.banner-modal{
  width: 100%;
  background-image: url("../img/index2/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $blanco;
  padding-top: 5%;
  &>.columns{
    width: 100%;
    &>.column{
      &>.h1-banner-container{
        &>.h1-banner{
          font-size: 1.1em;
        }
      }
    }
  }
}

.error{ color: red;}

//.valid{ color: green!important;}

.click{
  cursor: pointer;
}

.title-left2{
  font-size: 1.5em;
  font-weight: bold;
}

.banner-modal2{
  width: 100%;
  height: 40vh;
  background-image: url("../img/index2/group.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.modal-btn{ border-radius: 15px; }

.modal-content{
  overflow-x: hidden;
  background-color: $blanco;
}

body{
  font-family: 'Open Sans', sans-serif;
}

video{    max-height: 110%;}

.nav-right{
  @extend .flex;
  justify-content: space-around;
}

.nav-left{
  overflow: hidden;
}

.nav{
  height: 10vh;
  background-color: $negro;
  color: $blanco;
  &>.logo{
    height: 8vh;
  }
}

.strong{ color: $blanco; }

.box-not{
  height: 250px;
  padding: 2em;
  background-color: #f0f0f0 !important;
  border: solid 1px #cccccc;
  &>.flex{
    &>img{
      height: 42px;
    }
    &>.title-box{
      height: 66px;
      color: #0e0e0e;
      font-size: 1.2em;
      font-weight: bold;
      padding-left: 1em;
      padding-top: 10px;
    }
  }
  &>.text-box {
    font-size: .9em;
    font-weight:normal;
  }
}

.solicita{
  font-size: em(40px);
  font-weight: 300;
  color: $negro;
  border-bottom: solid 3px #f10909;
  width: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.red{
  color: #f10909;
}

.caracteristicas{
  position: relative;
  top: 30px;
}
.caracteristica-foot{
  background-color: #181818;
  font-size: em(30px);
  font-weight: 300;
  color: $blanco;
  position: relative;
  top: -6px;
}

.adquiera{
  background-color: #f0f0f0;
  padding-bottom: 5em;
  padding-top: 5em;
}

.adquiera-title{
  font-size: em(35px);
  color: $negro;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-top: 35px;
}
.adquiera-subtitle{
  font-size: 1.2em;
  color: #d00707;
}

.adquiera-text{
  font-size: 0.95em;
  font-weight: 300;
  line-height: 1.78;
  letter-spacing: 0.2px;
  color: #0e0e0e;
  opacity: .8;
  //margin-top: 20px;
}

.bajar{
  padding-top: 1em;
}

.img-adquiera{
  padding-right: 1em;
}

.mano2{
  height: 80vh;
}

.descarga2{
  margin-top: 1em;
  font-size: em(17px);
  color: $blanco;
  background-color: $rojo;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: .5em;
  &>.right{
    font-size: 2em;
  }
  &>.left{
    font-size: .8em;
    width: 50%;
  }
}

.descarga{
  font-size: em(25px);
  color: $blanco;
  background-color: $rojo;
  margin-left: 80px;
  //border-radius: 0px;
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: .3em;
  &>.right{
    font-size: 2em;
    font-weight: bold;
  }
  &>.left{
    font-size: .8em;
    width: 50%;
  }
}

.contacto{
  font-size: 1.3em;
  color: #656565;
  margin-top: 10px;
}

.footer{
  background-color: #212121;
  color: $blanco;

}

.title-footer{
  font-size: 1.8em;
  font-weight: bold;
}

.subtitle-footer{
  font-size: 1em;
  font-weight:normal;
}

.datos-footer{

}

.tel{ font-weight: bold;}

.box-contact{
  background-color: $blanco;
  padding: 1em 10%;
  border-radius: 13px;
  &>.form{
    &>.field{
      &>.control{
        &>input{
          border: 0px;
          box-shadow: initial;
          border-bottom: 1px solid #979797;
        }
      }
    }
  }
}

.mostrar{
  display: none;
  width: 100%;
}

@media (max-width:1366px) {
  .h1-banner-container{
    &>.h1-banner{ font-size: 2em;}
  }
}
@media (max-width:700px) {

  .box-not{ height: inherit;}

  .marvel-device.iphone6 {
    width: 210px !important;
    height: 331px !important;
  }

  .pad6{ padding: 0px; }

  .pr6{ padding: 0px; }

  .descarga{
    width: 100%;
    margin: 0px;
    &>.right{
      font-size: 1em;
    }
    &>.left{
      font-size: .5em;
    }
  }

  .esconder{ display: none; }

  .mostrar{ display: initial;}

  .h1-banner-container{
    &>.h1-banner{ font-size: 1.1em;}
    width: 90%;
  }

  .mano{ height: 40vh;}

  .in{
    height: 103.9%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }
}
