@import "vars";
@import "mixins";
@import "margenes";
@import "vista1";
@import "device";
//@import "contactenos";

body{
  font-family: 'Ek Mukta', sans-serif;
}

.nav2{
  height: 100px;
  background-color: $negro;
  & > img{
    margin-top: 1em;
    margin-left: 5%;
  }
}

.txt-banner{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  vertical-align: center;
  flex-direction: column;
  & > h1{
    @include textos(em(55px),300!important,#191919,1.02,.6px);
  }
  & > p{
    @include textos(em(20px),300!important,#726d6d,1.4,.2px);
  }
}

.boton{
  background-color: $rojo-b;
  color: $blanco!important;
  border-radius: 7px;
}

.columns{
  padding: 0px 5%;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-spb{
  display: flex;
  justify-content: space-between;
}

.center{ text-align: center; justify-content: center;}

.art{
  &>h2{
    @include textos(em(18px)!important,bold!important,$gris,1.11,.2px);
  }
}
.container-art-img{
  width: 72px;
  height: 72px;
  border: solid $gris 1px;
  border-radius: 100%;
}

.art-img{
  position: relative;
  top: 9px;
}

.features{
  & > p{
    @include textos(1.5em,bold,$negro-features,1.46,.3px);
  }
}

.lis{
  margin-bottom: 1em;
  & >a{
    @include textos(1em,bold,$negro-titles,initial,.1px);
  }
}

.cell{
  display: flex;
  &> .play{
    height: 74px;
    width: 218px;
    position: relative;
    top: 73px;
  }
  &> .app{
    height: 155px;
    width: 218px;
  }
}

.title-alarm{
  @include textos(em(47px),500,$negro-titles,1.26,.2px);
}

.gris{
  background-color: #eeeeee;
  padding-top: 1em;
  padding-bottom: 1em;
}

.h4{
  @include textos(em(50px),500,$negro-titles,1.18,.2px);
  text-align: center;
}

.card{
  & >.card-header{
    @include textos(em(25.2px),bold,$blanco,initial,.3px);
    background-color: $rojo;
  }
  & >.card-content{
    @include textos(em(21.6px),100,#464141,initial,.3px);
  }
  & >.card-prefooter{
    background-color: $negro;
  }
  & >.card-footer{
    @include textos(em(18px),300,#464141,initial,.2px);
    background-color: #d8d8d8;
    padding: .5em;
    .left{
      text-align: left;
    }
  }
}

.costo{
  @include textos(em(36px),300,#464141,initial,.2px);
}

@media (max-width:700px) {
  .cell{
    flex-wrap: wrap;
    &> .play{
      top: 0px;
    }
  }
}
