-var art1 = {img:"img/group.png",title:"Activaci贸n por llamada GSM"}
-var art2 = {img:"img/group2.png",title:"Activaci贸n por boton de panico"}
-var art3 = {img:"img/group3.png",title:"Activaci贸n por aplicaci贸n datos o wifi"}
-var art4 = {img:"img/group4.png",title:"Notificaciones inmediatas"}
-var art5 = {img:"img/group5.png",title:"Diferentes tipos de alarmas"}
- var articles = [art1,art2,art3,art4,art5]
  
mixin article(img,title)
  .column.art.center
    .flex-center
      .container-art-img
        img.art-img(src=img)
    h2=title
    
each val in articles
  +article(val.img,val.title)
