-var pBox = "Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium "
-var box1 = {title:"Boton de Panico",text:pBox}
-var box2 = {title:"Notificacion Inmediata",text:pBox}
-var box3 = {title:"Alarma de Evacuacion",text:pBox}
-var boxs = [box1,box2,box3]

mixin Box(title,text)
  .column.pad0
    .box-not
      h2.title-box #{title}
      p.text-box.esconder #{text}
      
.columns.pad10
  each val in boxs
    +Box(val.title,val.text)
