-var pBox = "Active su alarma de manera fácil y oportuna desde su aplicación, botón de pánico o por una llamada perdida, y notifique a sus vecinos."
-var pBox2 = "Evite estar en grupos de Whatsapp donde su número de teléfono es de dominio público, y maneje una aplicación segura para comunicarse con sus vecinos en caso de emergencias."
-var pBox3 = "Gracias a la caracterización de la emergencia nuestra alarma puede comportarse también como una alarma de evacuación, en caso de incendio tanto en su comunidad como en su edificio."


-var box1 = {url:"img/index2/boxs/group.png",title:"Botón de Pánico",text:pBox}
-var box2 = {url:"img/index2/boxs/group2.png",title:"Chat Interno",text:pBox2}
-var box3 = {url:"img/index2/boxs/group3.png",title:"Alarma de Evacuación",text:pBox3}
-var boxs = [box1,box2,box3]

mixin Box(url,title,text)
  .column.pad0
    .box-not(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
      .flex
        img(src="#{url}")
        h2.title-box #{title}
      p.text-box.esconder #{text}

.columns.pad10
  each val in boxs
    +Box(val.url,val.title,val.text)
