-var pBox = "Active su alarma de manera facil y oportuna desde su aplicacion, boton de panico o por una llamada perdida y notifique a sus Vecinos "
-var pBox2 = "Evite estar en grupos de Whatsapp donde su numero de telefono es de dominio publico y maneje una aplicacion segura para comunicarse con sus Vecinos en caso de Emergencias"
-var pBox3 = "Gracias a la Carecterizacion de la emergencia nuestra alarma puede comportarse tambien como una alarma de Evacuacion en caso de Incendio en su comunidad o Edificio"


-var box1 = {url:"img/index2/boxs/group.png",title:"Boton de Panico",text:pBox}
-var box2 = {url:"img/index2/boxs/group2.png",title:"Chat Interno",text:pBox2}
-var box3 = {url:"img/index2/boxs/group3.png",title:"Alarma de Evacuacion",text:pBox3}
-var boxs = [box1,box2,box3]

mixin Box(url,title,text)
  .column.pad0
    .box-not(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
      .flex
        img(src="#{url}")
        h2.title-box #{title}
      p.text-box.esconder #{text}
      
.columns.pad10
  each val in boxs
    +Box(val.url,val.title,val.text)
