.box-contact
  form.form.Descarga
    .field
      .control
        input.input.nombre(required type="text" placeholder="Nombre" name="nombre")
    .field
      .control
        input.input.email(required type="email" placeholder="Email" name="email")
    .field
      .control
        input.input.tel(required type="text" placeholder="Telefono" name="telefono")
    .field
      .control
<<<<<<< Updated upstream
        input.input.ciudad(required type="text" placeholder="Ciudad" name="ciudad")
    .descarga2.modal-btn.center.submitt Descargar
=======
        input.input(required type="text" placeholder="Ciudad" name="ciudad")
    .descarga2.modal-btn.center.click.submitt Descargar
>>>>>>> Stashed changes
