.marvel-device.iphone6.black
  .top-bar
  .sleep
  .volume
  .camera
  //.sensor
  .speaker
  .screen
    //iframe(width="150" height="190" src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1")
  .home
  .bottom-ba
