//output:../public/index.html

-var lisBanner = ["Activación y notificaciones en segundos.","Caracterización de la emergencia.","Activación de las sirenas de su alarma desde la App.","Notificación a las autoridades." , "La mejor opción para frentes de seguridad, conjuntos residenciales y comercios."]

include header.pug.jade
    link(rel="stylesheet" href="https://anijs.github.io/lib/anicollection/anicollection.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet" href="devices/devices.min.css")
  body

    include nav.pug.jade
    .banner
      .columns.in
        .column
          .h1-banner-container
            h1.h1-banner Una #[strong.strong Alarma con App] diseñada para la seguridad #[strong.strong Comunal o Vecinal]
          .container-li-banner
            each val in lisBanner
              p.li-banner.esconder #{val}
        .column.right.pb0
          img.mano.fadeInRight.animated(src="img/index2/mano.png")

    include box.pug.jade

    .flex-center.mb.center(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
      h3.solicita Solicita más Información #[strong.red 300 5662659]

    .columns.esconder.caracteristicas(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
      .column.flex-end
        img.caracteristica(src="img/index2/caracteristicas/caracteristica1.png")
        .caracteristica-foot.center FACIL DE USAR
      .column.flex-end
        img.caracteristica(src="img/index2/caracteristicas/caracteristica2.png")
        .caracteristica-foot.center INTEGRACION VECINAL
      .column.flex-end
        img.caracteristica(src="img/index2/caracteristicas/caracteristica3.png")
        .caracteristica-foot.center FACIL DE USAR

    .columns.adquiera.pad10.m0
      .column.is-7
        .adquiera-title.x(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal") Adquiera nuestra Alarma
        .adquiera-subtitle.x(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal") Saquele el mayor provecho a nuesta App
        p.adquiera-text.mb.x(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal") Nuestra alarma cuenta con altos estándares de calidad; la misma incluye un protocolo de comunicación y de auto chequeo, en caso de ser inhabilitada nuestra App sigue funcionando, y todos los usuarios son notificados y pueden seguir interactuando.
        .columns.is-fluid.x(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
          .column.is-4
            .flex
              img.img-adquiera(src="img/index2/adquiera/shape.png" style="height:50px;")
              .adquiera-text Active desde la App
          .column.is-4
            .flex
              img.img-adquiera(src="img/index2/adquiera/llamada.png" style="height:50px;")
              .adquiera-text Active con llamada perdida
          .column.is-4
            .flex
              img.img-adquiera(src="img/index2/adquiera/noun.png" style="height:50px;")
              .adquiera-text.mb Active desde Boton de Panico
        .descarga.space-between.click.click1
          .left 
            .title-left PRE-VENTA
            .title-left2 COTIZA AQUÍ
          .right -30%
        .adquiera-title ¿Ya tienes una Alarma?
        p.contacto Si ya tienes una Alarma no te preocupes, #[a.red(href="#contactenos") Contáctanos] y la haremos funcionar con nuestra App.
      .column.is-1
      .column.center.celular(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
        //img.mano2(src="img/index2/motorola-moto-g.png")
        include device.pug.jade
        .bajar.click2.click
          img(src="img/hogar.png")

    .footer
      .columns.center
        .column.pad6
          .title-footer ¿Quieres saber más o quieres que visitemos tu comunidad?
          .subtitle-footer.pad1 No dudes en comunicarte con nosotros, estamos para resolver tus dudas y ayudarte.
          .datos-footer.center
            .flex-center
              .tel Tel: 300 5662659
              .email Email:ventas@hogar.io
          .country Bogota Colombia

        .column.pr6
          include contactenos.pug.jade

    include modal.pug.jade
    include modal2.pug.jade
    #snackbar Mensaje Enviado
    //include footer.pug.jade
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/AniJS/0.9.3/anijs-min.js")
    script(src="https://anijs.github.io/lib/anijs/helpers/scrollreveal/anijs-helper-scrollreveal.js")
    script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js")
    script(src="js/index.js")
