//output:../public/index2.html

-var lisBanner = ["Activacion y notificaciones en Segundos","Caracterizacion de la Emergencia ","Encienda la sirena de su Alarma desde la App","Notifique a su CAI mas cercano "]

include header.pug.jade
    link(rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet" href="devices/devices.min.css")
  body
    include device.pug.jade
    include nav.pug.jade
    .banner
      .columns.in
        .column
          .h1-banner-container
            h1.h1-banner Una #[strong.strong App y Alarma] diseñada para la seguridad #[strong.strong Comunal y Vecinal]
          .container-li-banner
            each val in lisBanner
              p.li-banner.esconder #{val}
        .column.right.pb0
          img.mano.fadeInRight.animated(src="img/index2/mano.png")
            
    
    include box.pug.jade
    
    .flex-center.mb.center(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
      h3.solicita Solicita más Información #[strong.red 32523892]
    
    .columns.esconder.caracteristicas(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
      .column.flex-end
        img.caracteristica(src="img/index2/caracteristicas/caracteristica1.png")
        .caracteristica-foot.center FACIL DE USAR
      .column.flex-end
        img.caracteristica(src="img/index2/caracteristicas/caracteristica2.png")
        .caracteristica-foot.center INTEGRACION VECINAL
      .column.flex-end
        img.caracteristica(src="img/index2/caracteristicas/caracteristica3.png")
        .caracteristica-foot.center FACIL DE USAR
        
    .columns.adquiera.pad10.m0
      .column.is-7
        .adquiera-title.x(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal") Adquiera nuestra Alarma  
        .adquiera-subtitle.x(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal") saquele el mayor provecho a nuesta App
        p.adquiera-text.mb.x(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal") Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR. Keytar pickled next level keffiyeh drinking vinegar street art. Art
        .columns.is-fluid.x(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
          .column.is-4
            .flex
              img.img-adquiera(src="img/index2/adquiera/llamada.png" style="height:51px;")
              .adquiera-text Active desde la App
          .column.is-4
            .flex
              img.img-adquiera(src="img/index2/adquiera/noun.png" style="height:58px;")
              .adquiera-text Active con llamada perdida
          .column.is-4
            .flex
              img.img-adquiera(src="img/index2/adquiera/shape.png" style="height:53px;")
              .adquiera-text.mb Active desde Boton de Panico
        .descarga.space-between
          .left PROMOCION DE LANZAMIENTO
          .right 850.000$
        .adquiera-title ¿Ya tienes una Alarma?
        p.contacto Si ya tienes una Alarma No te preocupes #[strong.red Contactanos] y la haremos funcionar con nuestra app  
      .column.is-1
      .column.center.celular(data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal")
        img.mano2(src="img/index2/motorola-moto-g.png")
        .descarga2 Descarga Gratis la Aplicacion
        
    .footer
      .columns.center
        .column.pad6
          .title-footer Quieres saber más o quieres que Visitemos tu Comunidad 
          .subtitle-footer.pad1 No dudes en comunicarte con nosotros, resolveremos todas tus dudas y te ayudaremos
          .datos-footer.center
            .flex-center
              .tel Tel: 322001238
              .email Email:soporte@hogar.io
          .country Bogota Colombia 
            
        .column.pr6
          .box-contact
            form.form
              .field
                .control
                  input.input(required type="text" placeholder="Nombre")
              .field
                .control
                  input.input(required type="email" placeholder="Email")
              .field
                .control
                  input.input(required type="text" placeholder="Telefono")
              .descarga2 Quiero más Información
      
    //include footer.pug.jade
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/AniJS/0.9.3/anijs-min.js")
    script(src="https://anijs.github.io/lib/anijs/helpers/scrollreveal/anijs-helper-scrollreveal.js")
    script(src="js/index.js")
