.modal.modal1
  .modal-background
  .modal-content
    .banner-modal
      .columns.in.in-modal
        .column
          .h1-banner-container
            h1.h1-banner Una #[strong.strong Alarma con App] diseñada para la seguridad #[strong.strong Comunal o Vecinal]
        .column.right.pb0.esconder
          img.mano.fadeInRight.animated(src="img/index2/mano.png")
    .modal-body.pad6
      include cotizar.pug.jade
  button.modal-close
